html {
  overflow-x: hidden;
  box-sizing: border-box;
}
html body {
  font-family: "Poppins", sans-serif;
}

.main-wrapper {
  background-color: #ECECEC;
}
.main-wrapper .navbar {
  background-color: #13005A;
}
.main-wrapper .navbar .navbar-toggler {
  padding: 0.5rem;
}
.main-wrapper .navbar .navbar-brand {
  margin-right: 0;
}
.main-wrapper .navbar .navbar-brand img {
  width: 50px;
}
.main-wrapper .navbar form .form-control {
  border-radius: 0.5rem;
  background-color: transparent;
}
.main-wrapper .navbar form .form-control:focus {
  box-shadow: none;
  border-color: #fff;
  color: #fff;
}
.main-wrapper .navbar form button {
  color: #fff;
}
.main-wrapper .navbar form button:hover {
  background-color: #1C82AD;
}
.main-wrapper .gedf-wrapper {
  padding-top: 4.5rem;
}
.main-wrapper .gedf-wrapper .titlesHero .titlesHeroNav .nav-item {
  transition: all 0.5s ease-in-out;
}
.main-wrapper .gedf-wrapper .titlesHero .titlesHeroNav .nav-item:hover {
  background: #1C82AD;
}
.main-wrapper .gedf-wrapper .titlesHero .titlesHeroNav .nav-item:hover .nav-link {
  color: #fff !important;
}
.main-wrapper .gedf-wrapper .titlesHero .titlesHeroNav .nav-item .nav-link {
  color: #000;
}
.main-wrapper .gedf-wrapper .list-group {
  cursor: pointer;
}
.main-wrapper .gedf-wrapper .list-group .list-group-item {
  background-color: #ECECEC;
}
.main-wrapper .gedf-wrapper .list-group .list-group-item:hover {
  background-color: #E9E8E8;
}
.main-wrapper .gedf-wrapper .postAdd .nav-tabs .nav-link {
  color: #000;
}
.main-wrapper .gedf-wrapper .postAdd .nav-tabs .nav-link.active {
  background-color: #1C82AD;
  color: #fff;
}
.main-wrapper .gedf-wrapper .postAdd .card-body .uploadBox {
  width: 10%;
}
.main-wrapper .gedf-wrapper .postAdd .card-body .uploadBox input[type=file] {
  display: none;
}
.main-wrapper .gedf-wrapper .postAdd .card-body .uploadBox label {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: #1C82AD;
  letter-spacing: 1.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  transition: all 0.5s ease;
}
.main-wrapper .gedf-wrapper .postAdd .card-body .uploadBox label i {
  font-size: 20px;
  padding: 10px;
}
.main-wrapper .gedf-wrapper .postAdd .card-body .uploadBox label:active {
  transform: scale(0.95);
}
.main-wrapper .gedf-wrapper .postAdd .card-body .btn-toolbar .btnPost {
  background-color: #1C82AD;
  border: none;
  transition: all 0.5s ease;
}
.main-wrapper .gedf-wrapper .postAdd .card-body .btn-toolbar .btnPost:active {
  transform: scale(0.9);
}
.main-wrapper .gedf-wrapper .postAdd .card-body .btn-toolbar .dropdown-toggle {
  background-color: #1C82AD;
  border: none;
}
.main-wrapper .gedf-wrapper .postAdd .card-body .btn-toolbar .dropdown-menu .dropdown-item:hover {
  background-color: #1C82AD;
  color: #fff;
}

.log-reg {
  background: #007bff;
  background: linear-gradient(to right, #1C82AD, #03C988);
  height: 100vh;
}
.log-reg .card-img-left {
  width: 45%;
  background: scroll center url("/img/grunge-paint-background.jpg");
  background-size: cover;
}
.log-reg .btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  background-color: #1C82AD;
  color: #fff;
  border-color: #1C82AD;
}
.log-reg .btn-google {
  color: white;
  background-color: #ea4335;
  border-color: #ea4335;
}
.log-reg .btn-facebook {
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
}
.log-reg form .form-control {
  border-radius: 0.5rem;
}
.log-reg form .form-control:focus {
  box-shadow: none;
  border-color: #1C82AD;
}
.log-reg form .changeover {
  color: #1A120B;
}

@media screen and (max-width: 576px) {
  .navbar form {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */