




html
    body
        font-family: 'Poppins', sans-serif
.main-wrapper
    .navbar
        .navbar-toggler
            padding: .5rem
        .navbar-brand
            margin-right: 0
            img
                width: 50px
        form
            .form-control
                border-radius: .5rem
                &:focus
                    box-shadow: none
                    border-color: #fff
    .gedf-wrapper
        margin-top: 9rem