$orangecolor: #ff7f00
$orangecolorlight: #ffa348
$colordarkgray: #2f3441

$graylinear: linear-gradient(150deg, rgba(47,52,65,1) 49%, rgba(16,16,16,1) 100%)
$orangelinear: linear-gradient(150deg, rgba(255,163,72,1) 49%, rgba(255,127,0,1) 100%)

hr
    color: $orangecolor


.btn-danger
    background: linear-gradient(150deg, rgba(255,163,72,1) 49%, rgba(255,127,0,1) 100%)
    color: black
    font-size: 14px
    border: $colordarkgray
    font-weight: 500
    padding-top: .5rem
    padding-bottom: .5rem
    padding-left: 1rem
    padding-right: 1rem
    border-radius: 30px


html
    overflow-x: hidden
    box-sizing: border-box
    body
        font-family: 'Poppins', sans-serif
.main-wrapper
    background-color: #ECECEC
    .navbar
        background-color: #13005A
        .navbar-toggler
            padding: .5rem
        .navbar-brand
            margin-right: 0
            img
                width: 50px
        form
            .form-control
                border-radius: .5rem
                background-color: transparent
                &:focus
                    box-shadow: none
                    border-color: #fff
                    color: #fff
            button
                color: #fff
                &:hover
                    background-color: #1C82AD
    .gedf-wrapper
        padding-top: 4.5rem
        .titlesHero
            .titlesHeroNav
                .nav-item
                    transition: all .5s ease-in-out
                    &:hover
                        background: #1C82AD
                    &:hover .nav-link
                        color: #fff !important
                    .nav-link
                        color: #000
        .list-group
            cursor: pointer
            .list-group-item
                background-color: #ECECEC
                &:hover
                    background-color: #E9E8E8
        .postAdd
            .nav-tabs
                .nav-link
                    color: #000
                .nav-link.active
                    background-color: #1C82AD
                    color: #fff
            .card-body
                .uploadBox
                    width: 10%
                    input[type="file"]
                        display: none
                    label
                        display: inline-block
                        text-transform: uppercase
                        color: #fff
                        text-align: center
                        background: #1C82AD
                        letter-spacing: 1.5px
                        user-select: none
                        cursor: pointer
                        box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35)
                        border-radius: 3px
                        transition: all .5s ease
                        i
                            font-size: 20px
                            padding: 10px
                        &:active
                            transform: scale(.95)
                .btn-toolbar 
                    .btnPost
                        background-color: #1C82AD
                        border: none
                        transition: all .5s ease
                        &:active
                            transform: scale(.9)
                    .dropdown-toggle
                        background-color: #1C82AD
                        border: none
                    .dropdown-menu
                        .dropdown-item
                            &:hover
                                background-color: #1C82AD
                                color: #fff

//* login-register css
.log-reg
    background: #007bff
    background: linear-gradient(to right, #1C82AD, #03C988)
    height: 100vh
    .card-img-left
        width: 45%
        background: scroll center url('/img/grunge-paint-background.jpg')
        background-size: cover
    .btn-login
        font-size: 0.9rem
        letter-spacing: 0.05rem
        padding: 0.75rem 1rem
        background-color: #1C82AD
        color: #fff
        border-color: #1C82AD
    .btn-google
        color: white
        background-color: #ea4335
        border-color: #ea4335
    .btn-facebook
        color: white
        background-color: #3b5998
        border-color: #3b5998
    form
        .form-control
            border-radius: .5rem
            &:focus
                box-shadow: none
                border-color: #1C82AD
        .changeover
            color: #1A120B

// profile.html ayhancss
.profile-card
    a
        text-decoration: none
    ul
        li
            list-style-type: none
    .myCard
        position: relative
        // width: 256px
        width: 100%
        background: $graylinear
        padding: 1.25rem 2rem 1.2rem
        border: 2px solid $orangecolor !important
        border-radius: 1.5rem
        text-align: center
        box-shadow: #ff800024 0px 4px 12px
        .card-about
            .card-about-bottom
                    a
                        position: relative
                        &::before 
                            content: '' 
                            position: absolute 
                            width: 100% 
                            height: 2px 
                            border-radius: 4px 
                            background: $orangelinear
                            bottom: -4px
                            left: 0 
                            transform-origin: right 
                            transform: scaleX(0) 
                            transition: transform .3s ease-in-out 
                        &:hover 
                            &::before 
                                transform-origin: left 
                                transform: scaleX(1) 



        // box-shadow: 0 4px 16px
        .card__border
            width: 110px
            height: 110px
            border: 2px solid $orangecolor
            border-radius: 50%
            display: grid
            place-items: center
            margin: 0 auto 0.75rem
            .card__img
                width: 96px
                border-radius: 50%

        .card__name
            color: white
            font-size: 14px
            font-weight: 500

        .card__profession
            color: white
            font-size: 14px
            font-weight: 500

        .card__social
            width: 200px
            background: rgb(255,163,72)
            background: linear-gradient(150deg, rgba(255,163,72,1) 49%, rgba(255,127,0,1) 100%)
            padding: 0.75rem
            border: gray
            border-radius: 3rem
            text-align: initial
            box-shadow: #ff800024 0px 4px 12px
            position: absolute
            left: 0
            right: 0
            bottom: -1.75rem
            margin: 0 auto
            overflow: hidden
            transform-origin: 18px 17px

            .card__social-control
                position: relative
                transform-origin: 18px 18px
                transition: transform 0.45s ease
                transform: rotate(0)

                .card__social-toggle
                    display: inline-flex
                    background-color: $colordarkgray
                    color: $orangecolorlight
                    font-size: 1.25rem
                    padding: 0.5rem
                    border-radius: 50%
                    cursor: pointer
                    position: relative
                    z-index: 10

                .card__social-text
                    display: flex
                    justify-content: center
                    align-items: center
                    display: block
                    color: $colordarkgray
                    font-size: 14px
                    font-weight: 500
                    width: 100%
                    padding-top: .4rem

                .card__social-list
                    display: inline-flex
                    column-gap: 0.75rem
                    transform: rotate(135deg)
                    transform-origin: 18px 17px

                    .card__social-link
                        display: inline-flex
                        // background-color: $orangecolorlight
                        color: $colordarkgray
                        font-size: 1.25rem
                        padding: 6px
                        border-radius: 50%

                .card__social-text,
                .card__social-list
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    padding-left: 3.1rem

                .card__social-text
                    top: 0

        .animation .card__social-control
            transform: rotate(-135deg)

    .card__social
        &.animation
            animation: up-animation 1s ease-in-out forwards

        &.down-animation
            animation: down-animation 1s ease-in-out forwards

            @keyframes up-animation
                0%,
                100%
                    transform: rotate(0)

                50%,
                60%
                    transform: rotate(-3deg)

                88%
                    transform: rotate(1deg)

.card__social.down-animation
    animation: down-animation 1s ease-in-out forwards

    @keyframes down-animation
        0%,
        100%
            transform: rotate(0)

        50%,
        60%
            transform: rotate(6deg)

        0%,
        88%
            transform: rotate(-1deg)


// follow-up.html
.follow-up
    .tab-content
        


    //! responsive css
    @media screen and ( max-width: 576px )
        .navbar
            form
                width: 100% !important

